/* Enter your custom styles here */
#__status4-__list0-0-text{
    color: #000;
}
#__status4-__list0-1-text{
    color: #000;
}
#__header0-titleText-inner{
    color: blue;
}
#__status1-__list0-0-text{
    color: #000;
}
#__status0-text{
    color: #000;
}
#__status1-text{
    color: #000;
}
#__status2-text{
    color: #000;
}
/* #application-comexampleapprovepurchaseord-display-component---Detail--otbFooter{
    background-color: gray;
}
#__button3-BDI-content{
    color: white;
}
#__button4-img{
    color: white; 
}
#__attribute0-text > bdi{
    color: blue;
} */